.container {
  height: 500px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--bgSoft);
}

.title {
  font-size: 24px;
  display: flex;
  font-weight: 500;
  color: var(--texts);
  margin-bottom: 20px;
}
