.container {
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  background-color: var(--bgSoft);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: xx-large;
  font-weight: bold;
}
