[data-theme="dark"]:root {
  --bg: #0a0a0a;
  --bgSoft: #1d1e20;
  --bgMain: #6b6d76;
  --bgSecond: #b8b8b8;
  --texts: #ffffff;
  --textsSecond: #ffffff;
}

[data-theme="light"]:root {
  --bg: #ffffff;
  --bgSoft: #0a0a0a;
  --bgMain: #b8b8b8;
  --bgSecond: #6b6d76;
  --texts: #ffffff;
  --textsSecond: #0a0a0a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--texts);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  background-color: var(--bg);
}

.contentContainer {
  padding-right: 60px;
  padding-left: 60px;
}

@media (max-width: 1536px) {
  .container {
    width: 1336px;
    padding: 3rem;
  }
}

@media (max-width: 1336) {
  .container {
    width: 1280px;
    padding: 3rem;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 1024px;
    padding: 2rem;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 768px;
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .container {
    width: 640px;
    padding: 2rem;
  }
}

@media (max-width: 640px) {
  .container {
    width: 475px;
    padding: 1rem;
  }
}

@media (max-width: 475px) {
  .container {
    width: 380x;
    padding: 1rem;
  }
}
