* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(20, 20, 20);
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  background-color: rgb(20, 20, 20);
  width: 100%;
  min-height: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contentContainer {
  padding-top: 100px;
  padding-right: 60px;
  padding-left: 60px;
}

@media (max-width: 1536px) {
  .container{
    width: 1336px;
  }
}

@media (max-width: 1336) {
  .container{
    width: 1280px;
  }
}

@media (max-width: 1280px) {
  .container{
    width: 1024px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1024px) {
  .container{
    width: 768px;
  }
}

@media (max-width: 768px) {
  .container{
    width: 640px;
  }
}

@media (max-width: 640px) {
  .container{
    width: 475px;
  }
}

@media (max-width: 475px) {
  .container{
    width: 380x;
  }
}