.container {
  padding: 50px 60px 0;
}

.row {
  display: flex;
  gap: 100px;
  margin-bottom: 100px;
}

.row h1 {
  font-size: 24px;
  font-weight: 300;
}

.col {
  flex: 1;
}

.col img {
  object-fit: cover;
  border-radius: 50%;
}

.line {
  margin: 100px;
  color: rgb(30, 30, 30);
}

@media (min-width: 3840px) {
  .container {
    margin: 0 30%;
  }
}

@media (max-width: 3840px) {
  .container {
    margin: 0 20%;
  }
}

@media (max-width: 2560px) {
  .container {
    margin: 0 10%;
  }
}

@media (max-width: 1980px) {
  .container {
    margin: 0 5%;
  }
}

@media (max-width: 1336px) {
  .container {
    width: 1280px;
    padding: 3rem;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 1024px;
    padding: 2rem;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}
