.container {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--bgSoft);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: var(--texts);
  font-weight: bold;
  text-transform: capitalize;
}

[data-theme="light"] .logo {
  color: var(--textsSecond);
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--bg);
  padding: 10px;
  border-radius: 10px;
}

.input {
  background-color: transparent;
  border: none;
  color: var(--texts);
}

.input:focus {
  outline: none;
  box-shadow: none;
}
