.container {
  position: sticky;
  top: 40px;
}

.list {
  list-style: none;
}

.cat {
  color: var(--texts);
  font-weight: bold;
  font-size: 13px;
  margin: 10px 0px;
}

.darkToggle {
  background-color: var(--bgSoft);
  color: var(--texts);
  padding: 20px;
  border: none;
}

.darkToggle:hover {
  background-color: var(--bgMain);
  border-radius: 10px;
}
