.container {
  display: flex;
}

.menu {
  width: 120px;
  height: auto;
  background-color: var(--bgSoft);
  padding: 20px;
  margin-bottom: 20px;
}

.content {
  flex: 4;
  padding: 20px;
}

.wrapper {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.main {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cards {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

@media (min-width: 3840px) {
  .container {
    margin: 0 30%;
  }
}

@media (min-width: 3840px) {
  .container {
    margin: 0 20%;
  }
}

@media (min-width: 2560px) {
  .container {
    margin: 0 10%;
  }
}

@media (min-width: 1980px) {
  .container {
    margin: 0 5%;
  }
}

@media (min-width: 1336px) {
  .container {
    width: auto;
  }
}

@media (max-width: 1280px) {
  .container {
    width: auto;
  }
}

@media (max-width: 768px) {
  .container {
    width: auto;
  }
  .menu {
    display: none;
  }
}
