.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 3rem 60px 0px;
}

.post {
  width: 30%;
}

@media (min-width: 3840px) {
  .container {
    margin: 0 30%;
  }
}

@media (max-width: 3840px) {
  .container {
    margin: 0 20%;
  }
}

@media (max-width: 2560px) {
  .container {
    margin: 0 10%;
  }
}

@media (max-width: 1980px) {
  .container {
    margin: 0 5%;
  }
}

@media (max-width: 1336px) {
  .container {
    width: auto;
  }
}

@media (max-width: 1280px) {
  .container {
    width: auto;
    padding: 2rem;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1280px) {
  .container {
    width: auto;
  }
  .post {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .container {
    width: auto;
  }
  .post {
    width: 100%;
  }
}
